.form {
    background-color: white;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    width: 500px;
    height: 460px;
    padding: 16px;
}

.status {
    color: red;
}

.regTextColor {
    color: #1976d2;
}